.svgTask {
  width: 23vw;
  height: auto;
  margin: 0;
}

.missionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
  justify-items: center;
  align-items: center;
  height: 92vh;
}

@media only screen and (max-width: 56.2rem) {
  .missionContainer {
    grid-template-columns: 1fr;
  }
  .svgTask {
    display: none;
  }
}
